@font-face {
    font-family: "netflix regular";
    src: url("../fontes/netflixsans-regular.ttf");
}
@font-face {
    font-family: "netflix black";
    src: url("../fontes/netflixsans-black.ttf");
}
@font-face {
    font-family: "netflix medium";
    src: url("../fontes/netflixsans-medium.ttf");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #232323;
    font-family: "netflix regular";
    font-size: 16px;
}
#container{
    height: 100%;
}
#cima{
    background: url("../imagens/fundo-netflix.jpg") center fixed;
    padding-bottom: 150px;
    text-align: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    -ms-background-size:cover;
    text-shadow: 0 0 0 0.1;
}
#caixa-titulo{
    color: #fff;
}
#cima h1{
    font-family: "netflix black";
    letter-spacing: -0.05px;
    font-size: 42px;
}
#cima p{
    font-size: 24px;
    font-weight: 400;
}
#cima h3{
    font-size: 20px;
}
.caixa{
    background-color: #000;
    color:#fff;
}
#forms button{
    font-size: 24px;
    background-color:#E50914;
    color:#fff;
    padding: 8px 25px;
    border-radius: 5px;
    font-family: "netflix medium";
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
#forms input{
    font-size: 18px;
    padding:13px 30px;
    border-radius: 5px;
    margin-bottom: 8px;
    border:none;
    background-color: #0000009d;
    color:#fff;
    outline:2px solid #C11119;
}
#forms{
    text-align: center;
    display: inline-block;
}
button:focus, input:focus{
    outline: none;
}
#forms input:focus{
    outline: 2px solid #26985E;
}
#forms button:hover, button#entrar:hover{
    background-color: #C11119;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s
}
nav{
   padding: 20px 0 200px 0;
}
img{
    float: left;
}
div#navbar-direita{
    float: right;
}
div#navbar-direita button{
    background-color: #E50914;
    border: none;
    padding: 6px 15px;
    border-radius: 3px;
    color:#fff;
    font-size: 13px;
    margin-left: 15px;
    font-family: "netflix medium";
    cursor: pointer;
}
div#navbar-direita input{
    background-color: #00000056;
    color:#fff;
    border: none;
    text-align: center;
    outline: 1px solid rgba(255, 255, 255, 0.582);
    width: 50%;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 0;
}
.caixa{
    margin-bottom: 8px;
    padding: 50px 0;
}
.caixa-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
    margin-top: 20px;
}
.texto-grid{
    align-self: center;
    width: 600px;
}
.texto-grid h1{
    font-size: 48px;
    font-family:"netflix black";
}
.texto-grid p{
    font-size: 22px;
}
.esquerda{
    margin-left:auto ;
}
.direita{
    margin-right: auto;
}
h1#perguntas{
    font-family: "netflix black";
    font-size: 48px;
}
.caixa-perguntas{
    text-align: center;
}
p#fim-pag{
    font-size: 20px;
}
footer{
    margin-bottom: 0;
    color:#9a9a9a;
    display: inline-block;
}
footer a{
    text-transform: capitalize;
    color:#9a9a9a;
}
footer ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    text-align: justify;
}
footer ul li.items-direita{
    margin-left: 30px;
}
footer div.footer-div{
    text-align: justify;
    margin-bottom: 20px;
}
div.rodape{
    margin: 0;
}
div.rodape div.footer-div a, div.rodape ul#rodape-lista a{
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}
div.rodape div.footer-div a:hover{
    text-decoration: underline;
}
select.idioma{
    background-color: #0F0F0F;
    outline: 1px #2D2D2D;
    border-radius: 5px;
    line-height: 20px;
    font-size: 16px;
    color:#fff;
    padding: 5px 10px;
}
div#div-select{
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
}
div.caixa-perguntas ul#lista li{
    background-color: #2D2D2D;
    padding: 20px 0;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
div.caixa-perguntas ul#lista li:hover{
    background-color: #434242;
    transition: .4s;
}
div.caixa-perguntas ul#lista li span{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 20px;
}
div.caixa-perguntas ul#lista li span h3{
    text-align: left;
}
div.caixa-perguntas ul#lista li span i{
    text-align: right;
    padding-top: 10px;
    font-size: 30px;
}
div.caixa-perguntas ul#lista{
    list-style: none;
    margin: 0 11%;
}
div#caixa-lista{
    margin: 25px 0;
}
video#video{
    width: 450px;
}
img#tv{
    position: relative;
    z-index: 1;
}
div#div-video{
    position: absolute;
    padding-left: 80px;
    padding-top: 10px;
}
video#video2{
    width: 380px;
}
div#div-video2{
    position: absolute;
    padding-left: 110px;
    padding-top: 40px;
}
div#caixa-diferente-dentro{
    background-color: #000;
}
div#pipoca{
    background: radial-gradient(circle,#88102D 30%,#0F1B4E,#060D2C,#000);
    background: -moz-radial-gradient(circle,#88102D 30%,#0F1B4E,#060D2C,#000),
                -webkit-radial-gradient(circle,#88102D 30%,#0F1B4E,#060D2C,#000),
                -o-radial-gradient(circle,#88102D 30%,#0F1B4E,#060D2C,#000);
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 980px;
    margin: 0 auto;
}
div#div-pipocaImg{
    display: inline-block;
    width: 650px;
    padding: 0;
}
div#pipocaTexto{
    text-align: justify;
    float: right;
}
p#grande{
    font-size: 20px;
    line-height: 30px;
    font-family: "netflix medium";
}
p#pequeno{
    font-size: 16px;
    line-height: 24px;
}
div#pipocaTexto a{
    color: #448AEB;
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}
div#pipocaTexto a i{
    color: #448AEB;
    padding-left: 8px;
    font-size: 20px;
}
div#pipocaTexto a:hover{
    cursor: pointer;
}