@font-face {
    font-family: "netflix regular";
    src: url("/fontes/netflixsans-regular.ttf");
}
@font-face {
    font-family: "netflix black";
    src: url("/fontes/netflixsans-black.ttf");
}
@font-face {
    font-family: "netflix medium";
    src: url("/fontes/netflixsans-medium.ttf");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #232323;
    font-family: "netflix regular";
    font-size: 16px;
}
#container{
    height: 100%;
}
#cima{
    background: #000 url("/imagens/fundo-netflix-escuro.jpg") fixed;
    padding-bottom: 150px;
    text-align: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    -ms-background-size:cover;
}
#caixa-titulo{
    color: #fff;
}
#cima h1{
    font-family: "netflix black";
    letter-spacing: -0.05px;
    font-size: 42px;
}
#cima p{
    font-size: 24px;
    font-weight: 400;
}
#cima h3{
    font-size: 20px;
}
.caixa{
    background-color: #000;
    color:#fff;
}
#forms button{
    font-size: 20px;
    background-color:#E50914;
    color:#fff;
    padding: 8px 25px;
    border-radius: 5px;
    font-family: "netflix medium";
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
#forms input{
    font-size: 16px;
    padding:12px 30px;
    border-radius: 5px;
    margin-bottom: 8px;
    border:none;
    background-color: #0000009d;
    color:#fff;
    outline:2px solid #C11119;
}
#forms{
    text-align: center;
    display: inline-block;
}
 button:focus, input:focus{
    outline: none;
}
#forms input:focus{
    outline: 2px solid rgb(4, 244, 4);
}
#forms button:hover{
    background-color: #C11119;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s
}
nav{
   padding: 20px 0 200px 0;
}
img{
    float: left;
}
div#navbar-direita{
    float: right;
}
div#navbar-direita button{
    background-color: #E50914;
    border: none;
    padding: 6px 15px;
    border-radius: 3px;
    color:#fff;
    font-size: 13px;
    margin-left: 15px;
    font-family: "netflix medium";
    cursor: pointer;
}
div#navbar-direita input{
    background-color: #00000056;
    color:#fff;
    border: none;
    text-align: center;
    outline: 1px solid rgba(255, 255, 255, 0.582);
    width: 50%;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 0;
}